BEARER_TOKEN = "BQC9qDTNQTzPEeUQLXbeoNxhND62dcK-Kp-GTz8Q3F1sJdG5E0hch2NfCGUgB2MYVUCGOkGrOlr0jatKU0JygbJx7cZtuQLcxlQ469TbVhq7gnugOb-TruKm_8JofHoae3a5KgGxqyjcdjiAvXx3qBWq4peVg0HdY2_l9SfiJA-VIuU2uoVTr8X_wKhvLYxxQ-1Y-TGnQVE2y5OKAe-T4w7ZhCYbtqZelhlHL9g8guBRaLzLV2Emk392laZSfUnD"
USER_ID = "INSERT USER ID HERE"